body {
  background: linear-gradient(to bottom, rgba(226, 234, 246, 1) 0%, rgba(228, 236, 247, 0.96) 5%, rgba(232, 238, 248, 0.86) 13%, rgba(236, 241, 249, 0.7) 23%, rgba(255, 255, 255, 0) 100%);
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, p {
  margin: 0;
  font-weight: 300;
}
h1, h2, h3, a, a:visited {
  color: #0186b6;
}
h1 span, h2 span, h3 span {
  color: #89be04;
}
h1 {
  font: 500 52px Tahoma, Verdana, sans-serif;
  text-shadow: 2px 2px 3px #c8c8c8;
}
h2, #pricebox p:first-child span {
  font-size: 30px;
}
h3, #pricebox p:first-child, #pricebox a {
  font-size: 16px;
}
p, a.read-more {
  font-size: 14px;
}
a, #footer p {
  font-size: 12px;
}
#pricebox p {
  font-size: 10px;
}
a:hover, a:focus {
  color: #f5812d;
}
a.main-link:after {
  content: "»";
  display: inline-block;
  margin: 0 0 0 5px;
  height: 12px;
  overflow: hidden;
}
/* Main content area */

#wrapper {
  max-width: 730px;
  padding: 20px 40px;
  margin: 30px auto;
  border-radius: 20px 0 20px 20px;
  box-shadow: 0 0 12px #C2CEF2;
  background: #fff url(01.jpg) no-repeat 100% 15%;
}
/* Separate sections will be divided into rows */

.row, .details, .promo-image, h3 {
  margin: 17px 0;
  position: relative;
}
/* Product introduction */

#marketing-info h2 {
  max-width: 400px;
}
#marketing-info .details {
  display: inline-block;
  max-width: 278px;
  color: #777;
}
.side-image {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: -50px 0px 0px 50px;
}
/* Product purchase information */

#pricebox {
  color: #fff;
  position: absolute;
  top: 75px;
  right: -25px;
  padding: 4px 10px;
  background: #4e94e1;
  background: linear-gradient(to bottom, #4e94e1 0%, #4e94e1 51%, #4a8fde 57%, #367cd4 70%, #1c6acb 81%, #0d62c7 85%, #0561c6 86%, #005ec5 88%, #004ebc 100%);
  border-radius: 15px 0 15px 15px;
  box-shadow: 0 0 0 4px rgba(51, 51, 51, 0.53);
}
#pricebox a {
  margin: 25px 0 0 0;
  padding: 0 15px 0 0;
}
#pricebox a:after, .btn-buy:after {
  content: "\276F";
  margin: 0 0 0 5px;
  font-family: Dingbats, Segoe UI Symbol, Quivira, unifont;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
}
.btn-buy:after {
  border-radius: 50%;
  background: #fff;
  padding: 0px 4px 0px 5px;
  color: #456acf;
}
/* Row of accessories */

#accessory-listing {
  text-align: justify;
}
#accessory-listing:after {
  content: '';
  width: 100%;
  display: inline-block;
}
.single-item {
  display: inline-block;
  width: 207px;
  text-align: left;
}
/* Accessories featured image container, to accept variable dimensions for photos*/

.promo-image {
  height: 165px;
  text-align: center;
}
/* Read more/buy button over accessorie featured image */

a.btn-buy, #pricebox a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.btn-buy {
  position: absolute;
  top: 93px;
  right: 55px;
  padding: 2px 5px 2px;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.53);
  background: #456acf;
}
.btn-buy:hover, .btn-buy:focus {
  background: #f5812d;
}
#accessory-listing .single-item:first-child .btn-buy {
  top: 80px;
}
#accessory-listing .single-item:last-child .btn-buy {
  top: 50px;
  right: 0;
}
