html {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,234,246,1)), color-stop(5%,rgba(228,236,247,0.96)), color-stop(13%,rgba(232,238,248,0.86)), color-stop(23%,rgba(236,241,249,0.7)), color-stop(48%,rgba(247,249,252,0.23)), color-stop(62%,rgba(253,254,254,0.04)), color-stop(66%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(226,234,246,1) 0%,rgba(228,236,247,0.96) 5%,rgba(232,238,248,0.86) 13%,rgba(236,241,249,0.7) 23%,rgba(247,249,252,0.23) 48%,rgba(253,254,254,0.04) 62%,rgba(255,255,255,0) 66%,rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(top, rgba(226,234,246,1) 0%, rgba(228,236,247,0.96) 5%, rgba(232,238,248,0.86) 13%, rgba(236,241,249,0.7) 23%, rgba(247,249,252,0.23) 48%, rgba(253,254,254,0.04) 62%, rgba(255,255,255,0) 66%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(226,234,246,1) 0%,rgba(228,236,247,0.96) 5%,rgba(232,238,248,0.86) 13%,rgba(236,241,249,0.7) 23%,rgba(247,249,252,0.23) 48%,rgba(253,254,254,0.04) 62%,rgba(255,255,255,0) 66%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(226,234,246,1) 0%,rgba(228,236,247,0.96) 5%,rgba(232,238,248,0.86) 13%,rgba(236,241,249,0.7) 23%,rgba(247,249,252,0.23) 48%,rgba(253,254,254,0.04) 62%,rgba(255,255,255,0) 66%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(226,234,246,1) 0%,rgba(228,236,247,0.96) 5%,rgba(232,238,248,0.86) 13%,rgba(236,241,249,0.7) 23%,rgba(247,249,252,0.23) 48%,rgba(253,254,254,0.04) 62%,rgba(255,255,255,0) 66%,rgba(255,255,255,0) 100%);
}

h1, h2, h3, p {
    margin: 0;
}

h1 {
	font: 500 55px Tahoma, Verdana, Segoe, sans-serif; 
	color: #017caf;
	text-shadow: 2px 2px 3px #c8c8c8;
	letter-spacing: -1.2px;
}

h2 {
	color: #89be04;
	font-size: 32px;
	font-weight: 300;
    letter-spacing: -1px;
}

h2 span {
    color: #0186b6;
}

h3 {
	color: #89be04;
	font-size: 16px;
	font-weight: 300;
}

h3 span {
    display: block;
    color: #017caf;
}

p {
	font-size: 14px;
    line-height: 17px;
    color: #777;
    letter-spacing: -0.1px;
}

a {
    color: #5395d0;
    letter-spacing: 0.3px;
    font-size: 12px;
    text-decoration: none;
}

a span {
    text-decoration: underline;
}

a:visited {
    color: #5395d0;
}

a.read-more {
    font-size: 14px;
}

/* Main content area */

#body-wrapper {
    width: 810px;
    margin: 30px auto;
    border-radius: 20px;
    border-top-right-radius: 0;
    box-shadow: 0 0 12px #C2CEF2;
    background: #fff url(01.png) no-repeat 100% 20%;
}

/* Separate sections will be divided into rows */

.row {
    width: 100%;
    padding: 20px 40px 0;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}

.separator {
    padding-top: 10px;
    padding-bottom: 15px;
}

.split-view {
    float: left;
}

/* Preclude floats from moving up */

.clearfloat {
    clear: both;
}

/* Product introduction */

#marketing-info h2 {
    position: relative;
    width: 120%;
    margin-bottom: 20px;
}

#marketing-info p {
    position: relative;
    width: 280px;
}

#marketing-info {
    width: 45%;
}

/* Product purchase information */

#pricebox {
    position: absolute;
    top: 100px;
    right: 65px;
    padding: 4px 10px;
    background: #4e94e1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(78,148,225,1)), color-stop(51%,rgba(78,148,225,1)), color-stop(57%,rgba(74,143,222,1)), color-stop(70%,rgba(54,124,212,1)), color-stop(81%,rgba(28,106,203,1)), color-stop(85%,rgba(13,98,199,1)), color-stop(86%,rgba(5,97,198,1)), color-stop(88%,rgba(0,94,197,1)), color-stop(100%,rgba(0,78,188,1)));
    background: -webkit-linear-gradient(top, rgba(78,148,225,1) 0%,rgba(78,148,225,1) 51%,rgba(74,143,222,1) 57%,rgba(54,124,212,1) 70%,rgba(28,106,203,1) 81%,rgba(13,98,199,1) 85%,rgba(5,97,198,1) 86%,rgba(0,94,197,1) 88%,rgba(0,78,188,1) 100%); 
    background: -moz-linear-gradient(top, rgba(78,148,225,1) 0%, rgba(78,148,225,1) 51%, rgba(74,143,222,1) 57%, rgba(54,124,212,1) 70%, rgba(28,106,203,1) 81%, rgba(13,98,199,1) 85%, rgba(5,97,198,1) 86%, rgba(0,94,197,1) 88%, rgba(0,78,188,1) 100%);
    background: -ms-linear-gradient(top, rgba(78,148,225,1) 0%,rgba(78,148,225,1) 51%,rgba(74,143,222,1) 57%,rgba(54,124,212,1) 70%,rgba(28,106,203,1) 81%,rgba(13,98,199,1) 85%,rgba(5,97,198,1) 86%,rgba(0,94,197,1) 88%,rgba(0,78,188,1) 100%);
    background: -o-linear-gradient(top, rgba(78,148,225,1) 0%,rgba(78,148,225,1) 51%,rgba(74,143,222,1) 57%,rgba(54,124,212,1) 70%,rgba(28,106,203,1) 81%,rgba(13,98,199,1) 85%,rgba(5,97,198,1) 86%,rgba(0,94,197,1) 88%,rgba(0,78,188,1) 100%);
    background: linear-gradient(to bottom, rgba(78,148,225,1) 0%,rgba(78,148,225,1) 51%,rgba(74,143,222,1) 57%,rgba(54,124,212,1) 70%,rgba(28,106,203,1) 81%,rgba(13,98,199,1) 85%,rgba(5,97,198,1) 86%,rgba(0,94,197,1) 88%,rgba(0,78,188,1) 100%);
    border-radius: 15px;
    border-top-right-radius: 0;
    box-shadow: 0 0 0 4px rgba(51, 51, 51, 0.53);
}

#pricebox h3 {
    font-size: 36px;
    line-height: 37px;
    color: #fff;
    letter-spacing: -2px;
    word-spacing: 1px;
}

#pricebox h3 span {
    display: inline;
    font-size: 18px;
    letter-spacing: -1px;
}

#pricebox span {
    display: block;
    font-size: 10px;
    line-height: 13px;
    color: #fff;
}

#pricebox a {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    margin-top: 18px;
    padding-right: 15px;
    background: url(06.png) no-repeat right;    
}

/* Row of accessories */

#accessory-listing {
    margin: 15px 0;
}

.single-item {
    float: left;
    position: relative;
    width: 210px;
}

.single-item-center {
    margin: 0 50px;
}

.single-item a {
    display: block;
    font-size: 12px;
    margin: 10px 0;
}

.single-item .pricing span {
    display: block;
}

/* Accessories featured image container, to accept variable dimensions for photos*/

.promo-image {
    height: 165px;
    text-align: center;
}

.promo-image img {
    margin: 15px;
}

/* Accessories payment possibilites */

.pricing {
    margin: 10px 0;
}

.pricing span {
    font-size: 13px;
}

/* Read more/buy button over accessorie featured image */

a.btn-buy-here {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding-right: 25px;
}

.btn-buy-here {
    position: absolute;
    top: 165px;
    right: 40px;
    padding: 3px 10px 3px 5px;
    border-radius: 5px;
    border-top-right-radius: 0;
    box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.53);
    background: #456acf url(07.png) no-repeat 90%;
}

.btn-buy-here:hover {
    background-color: #f5812d;
    -webkit-transition: all 750ms ease;
    -moz-transition: all 750ms ease;
    transition: all 750ms ease;
}

/* Specific product btn placement */

#photocopier .btn-buy-here {
    top: 150px;
    right: 40px;
}

#projector .btn-buy-here {
    top: 165px;
    right: 55px;
}

#monitor .btn-buy-here {
    top: 125px;
    right: 0;
}

/* End marks and links */

#footer {
    margin: 20px 0 20px;
}

#footer p {
    letter-spacing: 0.2px;
}

#footer p, #footer a {
    font-size: 12px;
    line-height: 20px;
}