@media print {
  body, #wrapper, #pricebox {
    background: #fff;
    box-shadow: none;
  }
  h1 {
    font-size: 150%;
  }
  h2, h3, h4 {
    font-size: 125%;
  }
  h1, h2, h3, p, a, span {
    color: #000!important;
    text-shadow: none!important;
    text-decoration: none;
  }
  p {
    font-size: 16px!important;
  }
  img, .read-more, .btn, .buy-now, .promo-image {
    display: none;
  }
  .side-image {
    display: block;
    margin: 0;
  }
  #pricebox {
    position: static;
    padding: 0;
  }
}
