* {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
    padding: 0;
  	margin: 0;
}

html {
	width: 100%;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-style: normal;
	font-variant: normal;
	font-weight: 300;
}

body {
    
    /* Gradient created by feeding it from PSD to www.colorzilla.com/gradient-editor */
    background: -moz-linear-gradient(top, rgba(226,234,246,1) 0%, rgba(228,236,247,0.96) 5%, rgba(232,238,248,0.86) 13%, rgba(236,241,249,0.7) 23%, rgba(247,249,252,0.23) 48%, rgba(253,254,254,0.04) 62%, rgba(255,255,255,0) 66%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,234,246,1)), color-stop(5%,rgba(228,236,247,0.96)), color-stop(13%,rgba(232,238,248,0.86)), color-stop(23%,rgba(236,241,249,0.7)), color-stop(48%,rgba(247,249,252,0.23)), color-stop(62%,rgba(253,254,254,0.04)), color-stop(66%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(226,234,246,1) 0%,rgba(228,236,247,0.96) 5%,rgba(232,238,248,0.86) 13%,rgba(236,241,249,0.7) 23%,rgba(247,249,252,0.23) 48%,rgba(253,254,254,0.04) 62%,rgba(255,255,255,0) 66%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(226,234,246,1) 0%,rgba(228,236,247,0.96) 5%,rgba(232,238,248,0.86) 13%,rgba(236,241,249,0.7) 23%,rgba(247,249,252,0.23) 48%,rgba(253,254,254,0.04) 62%,rgba(255,255,255,0) 66%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(226,234,246,1) 0%,rgba(228,236,247,0.96) 5%,rgba(232,238,248,0.86) 13%,rgba(236,241,249,0.7) 23%,rgba(247,249,252,0.23) 48%,rgba(253,254,254,0.04) 62%,rgba(255,255,255,0) 66%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(226,234,246,1) 0%,rgba(228,236,247,0.96) 5%,rgba(232,238,248,0.86) 13%,rgba(236,241,249,0.7) 23%,rgba(247,249,252,0.23) 48%,rgba(253,254,254,0.04) 62%,rgba(255,255,255,0) 66%,rgba(255,255,255,0) 100%); /* W3C */
}

h1 {
	font-family: Tahoma, Verdana, Segoe, sans-serif; 
	font-size: 55px;
	font-weight: 500;
	color:rgb(1,124,175);
	text-shadow: 2px 2px 3px rgb(200,200,200);
	letter-spacing: -1.2px;
}

h2 {
	color: rgb(137,190,4);
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; 
	font-size: 32px;
    font-style: normal;
	font-variant: normal;
	font-weight: 300;
    letter-spacing: -1px;
}

h2 span {
    color: rgb(1,134,182);
}

h3 {
	color: rgb(137,190,4);
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; 
	font-size: 16px;
    font-style: normal;
	font-variant: normal;
	font-weight: 300;
}

h3 span {
    display: block;
    color:rgb(1,124,175);
}

p {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
    line-height: 17px;
    color: #777;
    letter-spacing: -0.01em;
}

a, a:visited {
    color: #5395d0;
    letter-spacing:0.3px;
    font-size: 12px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; 
    font-style: normal;
	font-variant: normal;
	font-weight: 300;
}

a.read-more {
    font-size: 14px;
}

#body-wrapper {
    width: 810px;
    background-color: #fff;
    margin: 30px auto;
    -webkit-border-radius: 20px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 20px;
    -moz-border-radius-topright: 0;
    border-radius: 20px;
    border-top-right-radius: 0;
    box-shadow: 0 0 12px rgb(194, 206, 242);
    background-image: url(wave.png);
    background-repeat: no-repeat;
    background-position: 100% 20%;
}

/* Preclude floats from moving up */
.clearfloat {
    clear: both;
}

.row {
    width: 100%;
    padding: 20px 40px 0;
    display: inline-block;
    position: relative;
}

.separator {
    padding-top: 0;
    padding-bottom: 25px;
}

#marketing-info h2 {
    position: relative;
    width: 120%;
    margin-bottom: 20px;
}

#marketing-info p {
    position: relative;
    width: 280px;
}

.split-view {
    float: left;
}

#marketing-info {
    width: 45%;
}

#sales-photo {
    
}

.single-item {
    float: left;
    position: relative;
    width: 210px;
    margin-top: 15px;
}

.single-item-center {
    margin-left: 50px;
    margin-right: 50px;
}

.single-item a {
    display: block;
    font-size: 12px;
    margin: 10px 0;
}

.promo-image {
    height: 165px;
    text-align: center;
}

.promo-image img {
    margin: 15px;
}

.single-item span {
    display: block;
}

.pricing {
    margin: 10px 0;
}

.pricing span {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
	font-variant: normal;
	font-weight: 300;
}

#footer {
    margin: 20px 0 20px;
}

#footer p {
    letter-spacing:0.2px;
}

#footer p, #footer a {
    font-size: 12px;
    line-height: 20px;
}

#pricebox {
    position: absolute;
    top: 100px;
    right: 55px;
    padding: 5px 10px;
    background: rgb(78,148,225); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(78,148,225,1) 0%, rgba(78,148,225,1) 51%, rgba(74,143,222,1) 57%, rgba(54,124,212,1) 70%, rgba(28,106,203,1) 81%, rgba(13,98,199,1) 85%, rgba(5,97,198,1) 86%, rgba(0,94,197,1) 88%, rgba(0,78,188,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(78,148,225,1)), color-stop(51%,rgba(78,148,225,1)), color-stop(57%,rgba(74,143,222,1)), color-stop(70%,rgba(54,124,212,1)), color-stop(81%,rgba(28,106,203,1)), color-stop(85%,rgba(13,98,199,1)), color-stop(86%,rgba(5,97,198,1)), color-stop(88%,rgba(0,94,197,1)), color-stop(100%,rgba(0,78,188,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(78,148,225,1) 0%,rgba(78,148,225,1) 51%,rgba(74,143,222,1) 57%,rgba(54,124,212,1) 70%,rgba(28,106,203,1) 81%,rgba(13,98,199,1) 85%,rgba(5,97,198,1) 86%,rgba(0,94,197,1) 88%,rgba(0,78,188,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(78,148,225,1) 0%,rgba(78,148,225,1) 51%,rgba(74,143,222,1) 57%,rgba(54,124,212,1) 70%,rgba(28,106,203,1) 81%,rgba(13,98,199,1) 85%,rgba(5,97,198,1) 86%,rgba(0,94,197,1) 88%,rgba(0,78,188,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(78,148,225,1) 0%,rgba(78,148,225,1) 51%,rgba(74,143,222,1) 57%,rgba(54,124,212,1) 70%,rgba(28,106,203,1) 81%,rgba(13,98,199,1) 85%,rgba(5,97,198,1) 86%,rgba(0,94,197,1) 88%,rgba(0,78,188,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(78,148,225,1) 0%,rgba(78,148,225,1) 51%,rgba(74,143,222,1) 57%,rgba(54,124,212,1) 70%,rgba(28,106,203,1) 81%,rgba(13,98,199,1) 85%,rgba(5,97,198,1) 86%,rgba(0,94,197,1) 88%,rgba(0,78,188,1) 100%); /* W3C */
    -webkit-border-radius: 15px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 15px;
    -moz-border-radius-topright: 0;
    border-radius: 15px;
    border-top-right-radius: 0;
    box-shadow: 0 0 0 4px rgba(51, 51, 51, 0.53);
}

#pricebox h3 {
    font-size: 36px;
    color: #fff;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-style: normal;
	font-variant: normal;
	font-weight: 300;
}

#pricebox h3 span {
    display: inline;
    font-size: 18px;
}

#pricebox span {
    display: block;
    font-size: 10px;
    line-height: 13px;
    color: #fff;
}

#pricebox a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
    padding-right: 15px;
    background: url(arrow-plain.png);
    background-position:right; 
    background-size:10px; 
    background-repeat:no-repeat;
}

a.buy-here {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding-right: 25px;
    background-image: url(arrow-roundel.png);
    background-position: 90%;
    background-size:15px; 
    background-repeat:no-repeat;
}

.buy-here {
    position: absolute;
    top: 165px;
    right: 40px;
    padding: 3px 10px 3px 5px;
    background-color: #456acf;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-topright: 0;
    border-radius: 5px;
    border-top-right-radius: 0;
    box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.53);
}