html {
  min-height: 100%;
}
body {
  background: linear-gradient(to bottom, #e2eaf6 0%, #ffffff 100%);
  font-family: Arial, sans-serif;
}
h1, h2, h3, p {
  margin: 0;
  font-weight: 300;
}
h1, h2, h3, a, a:visited, .read-more {
  color: #0186b6;
}
h1 span, h2 span, h3 span {
  color: #89be04;
}
h1 {
  font: 500 52px Tahoma, sans-serif;
  text-shadow: 2px 2px 2px #c8c8c8;
}
h2, #pricebox span {
  font-size: 30px;
}
h3, #pricebox #payment-rate, #pricebox .buy-now a {
  font-size: 16px;
}
p {
  font-size: 14px;
}
a, a:after {
  display: inline-block;
}
img {
  max-width: 100%;
}
.read-more, .buy-now a, #footer p, a:after {
  font-size: 12px;
}
#pricebox p {
  font-size: 10px;
}
.row, .details, .promo-image, h3 {
  margin: 17px 0;
  position: relative;
}

/* Main content area */

#wrapper {
  max-width: 730px;
  padding: 20px 40px;
  margin: 30px auto;
  border-radius: 20px 0 20px 20px;
  box-shadow: 0 0 12px #c2cef2;
  background: #fff url(01.jpg) no-repeat 100% 15%;
}

/* Product introduction */

#marketing-info h2 {
  max-width: 400px;
}
#marketing-info .details {
  display: inline-block;
  max-width: 278px;
  color: #777;
}
.side-image {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: -50px 0px 0px 50px;
}

/* Product purchase information */

#pricebox {
  position: absolute;
  top: 75px;
  right: -25px;
  padding: 4px 10px;
  background: #4e94e1;
  background: linear-gradient(to bottom, #4e94e1 0%, #4a8fde 50%, #004ebc 100%);
  border-radius: 10px 0 10px 10px;
  box-shadow: 0 0 0 4px rgba(38, 58, 102, 0.34);
}
#pricebox a {
  padding: 5px 10px;
  margin: 15px 0 -5px -10px;
  border-radius: 0 10px;
}

/* Row of accessories */

#accessory-listing {
  text-align: justify;
}
#accessory-listing:after {
  content: "";
  width: 100%;
  display: inline-block;
}
.single-item {
  display: inline-block;
  width: 207px;
  text-align: left;
}
.single-item:first-child .buy-now .btn {
  top: 80px;
}
.single-item:last-child .buy-now .btn {
  top: 50px;
  right: 0;
}
.promo-image {
  height: 165px;
  text-align: center;
}

/* btn elements */

#pricebox, #pricebox a, .buy-now .btn {
  color: #fff;
  text-decoration: none;
}
.read-more:after {
  content: "»";
}
.btn {
  position: absolute;
  top: 93px;
  right: 55px;
  padding: 2px 20px 2px 5px;
  border-radius: 5px 0 5px 5px;
  border: 1px solid #4a5ed2;
  box-shadow: 0 0 0 2px rgba(22, 120, 171, 0.32);
  background: #456acf;
}
.buy-now .btn:hover, #pricebox a:hover, .buy-now a:focus {
  background: #00a613;
}
a:hover, .read-more:hover, a:focus {
  color: #00a613;
}
.btn:after {
  content: "";
  background-image: url(sprite.png);
  width: 12px;
  height: 12px;
  background-position: -14px -2px;
}
#pricebox .buy-now a:after {
  content: "";
  background-image: url(sprite.png);
  width: 8px;
  height: 10px;
  background-position: -2px -2px;
  margin: 0 0 0 5px;
}
.btn:after, .read-more:after {
  position: absolute;
  margin: 0 0 0 5px;
}

/* Responsive */

@media only screen and (max-width: 768px) {
  #wrapper {
    background: #fff;
  }
  .side-image {
    margin: 0;
  }
}
